@page "/"

<PageTitle>Home</PageTitle>

<h1>Administration</h1>

You can use this site to upload files to Azure Blob Storage and manage your data.  The files uploaded will be used for RAG (Resource Augmented Generation) purposes.  